.botao {
    align-items: center;
    justify-content: center;
    display: flex;
}

button.mudacor {
    background-color: gray;
    width: 110px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
}

button.mudacor:hover {
    box-shadow: 0px 0px 10px 1px #0f0f0f;
}