div.content-coin {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}